body {
    margin: 0;
    padding: 0;
}

/* Header*/

@font-face {
    font-family: "Integral CF";
    src: url("assets/fonts/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.top-nav {
    background-color: black;
    color: aliceblue;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    margin: auto auto 24px auto;
    text-align: center;
    justify-content: center;
    display: flex;
}

.signUp {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3.1vh 5vw 2vh 7vw;
    background-color: #fff;
    color: #000;
    gap: 2.3vw;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu div {
    width: 8vw;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger-menu.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.active div:nth-child(2) {
    opacity: 0;
}

.burger-menu.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-items {
    display: none;
}

.logo {
    font-family: Integral CF;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: left;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0.8rem;
    list-style: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5vw;
    border: none;
    background-color: #fff;
    font-family: "Satoshi";
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    gap: 0.5vw;
    list-style-type: none;
}

#search {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1vh 1vw;
    border-radius: 2.4rem;
    background-color: #f0f0f0;
}

#input {
    flex: 1;
    border: none;
    border-radius: 2.4rem;
    outline: none;
    background-color: #f2f0f1;
    font-size: 1rem;
    gap: 24px;
}

.search-icon {
    margin-right: 0.8rem;
    color: #d4cfcf;
}

.icon {
    color: #00000066;
}

.icon-container {
    display: flex;
    padding: 1vw;
    gap: 1vw;
}

.cart i, .account i {
    color: #000000;
}

.search-container {
    display: flex;
    background-color: #F0F0F0;
    border-radius: 62px;
}

.search-container i {
    color: #00000066;
    margin: 0 14px 0 18px
}

.search-container img {
    display: flex;
    margin-left: 8px;
    color: #00000066;
    background: #00000066;
}

.search {
    margin-right: 16px;
    width: 577px;
    height: 48px;
    border-radius: 62px;
    padding: 12px 16px;
    gap: 12px;
    border-color: transparent;
    background-color: #F0F0F0;
}

.nav-icon-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.search-querie {
    display: none;
}

.nav-icon-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 16px;
}

nav ul li {
    margin-right: 16px;
    cursor: pointer;
    font-family: "Satoshi", sans-serif;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7vw;
    background-color: #f2f0f1;
    background-image: url("../assets/image/hero-section.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-text {
    width: 38.6vw;
}

.hero h1 {
    margin: 0;
    font-family: Integral CF;
    font-size: 4.26rem;
    font-weight: 700;
    text-align: left;
    line-height: 64px;
}

.hero p {
    margin-bottom: 4.5vh;
    font-family: "Satoshi";
    font-size: 1.07rem;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    color: #00000066;
}

.hero img {
    display: none;
}

#searchMobile {
    display: none;
}

.cta-btn {
    display: inline-block;
    padding: 2vh 5vw;
    border-radius: 2.4rem;
    background-color: #000;
    font-family: "Satoshi";
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    opacity: 0.8;
}

.shop-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 6vh;
    gap: 2.2vw;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-number {
    display: inline-block;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

.category-name {
    display: inline-block;
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #00000066;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: #ccc;
}

.divider-two {
    width: 1px;
    height: 80px;
    background-color: #ccc;
    display: block;
}

.logo-banner {
    display: flex;
    justify-content: space-between;
    padding: 6vh 7vw;
    background-color: #000;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 24px;
    margin: 0 100px;
}

.product-name {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 16px 0 8px 0;
    text-align: left;
}

.rate-container {
    display: flex;
    align-items: flex-start;
    gap: 13px;
    font-size: 14px;
}

.rate-container p {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.rate-container span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    color: #777777;
}

.cols-5 {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

.page-inner-content-two {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #0000001A
}

.section-title {
    font-family: "Integral CF";
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    margin: 72px 0 55px 0;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.cols > * {
    cursor: pointer;
    transition: all 0.2s;
}

.cols > *:hover {
    transform: translateY(-5px);
}

.product {
    display: flex;
    flex-direction: column;
}

.rate {
    width: 80px;
    height: 18px;
    gap: 5.31px;
    margin-top: 12px;
}

.product-price-container {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.product-price {
    text-align: left;
    width: 55px;
    height: 32px;
    gap: 10px;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.product-price-old {
    text-align: left;
    width: 55px;
    height: 32px;
    gap: 10px;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    color: #00000066;
    text-decoration: line-through;
}

.product-price-discount {
    color: #FF3333;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    width: 58px;
    height: 28px;
    gap: 12px;
    border-radius: 62px;
    background: #FF33331A;
    padding: 6px 14px;
    margin-top: 18px;
}

.page-inner-content-three {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.view-all {
    width: 218px;
    height: 52px;
    border-radius: 62px;
    border: 1px solid #0000001A;
    margin: 24px auto;
    cursor: pointer;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 16px;
    line-height:50px;
}

.dress-style {
    margin: 6.5vh 7vw;
    padding: 1vh 4vw;
    border-radius: 2rem;
    background-color: #f0f0f0;
}

.dress-style h2 {
    margin-bottom: 2vh;
    font-family: "Integral CF";
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 16.7vh;
}

.dress-style-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.dress-style-item {
    height: 40vh;
    border-radius: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dress-style-item h4 {
    margin: 3vh 3vw;
    font-family: "Satoshi";
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.casual {
    flex-basis: 37.5%;
    background-image: url("../assets/image/image-11.png");
}

.formal {
    flex-basis: 61%;
    background-image: url("../assets/image/image-13.png");
}

.party {
    flex-basis: 63%;
    background-image: url("../assets/image/image-12.png");
}

.gym {
    flex-basis: 36%;
    background-image: url("../assets/image/image-14.png");
}

.review {
    padding: 8vh 7vw;
    display: flex;
    flex-direction: column;
}

.review h2 {
    font-family: "Integral CF";
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 7.7vh;
    margin-bottom: 5vh;
}

.title-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonStyle {
    display: inline-block;
    margin-top: 5vh;
    padding: 2vh 1vw;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #ccc;
}

.page-inner-content-feedbacks {
    display: grid;
    padding: 24px;
}

.page-inner-content-feedbacks h5 {
    font-family: "Integral CF";
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 40px;
}

.feedbacks {
    display: flex;
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.feedback {
    width: 400px;
    flex-shrink: 0;
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

.feedbacks::before,
.feedbacks::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    pointer-events: none;
    z-index: 2;
}

.feedbacks::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.feedbacks::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.feedback {
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 28px 32px;
}

.feedback p {
    margin: 5px 0;
}

.feedback:first-child,
.feedback:last-child {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
    display: block;
}

.name-user {
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.feedback-message {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.subscribe {
    background-color: #000;
    padding: 0.7vh 4.2vw;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 5.8vw 0 7vw;
    position: relative;
    z-index: 10;
}

.subscribe h2 {
    font-family: "Integral CF";
    color: #fff;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 6.7vh;
    flex-basis: 50%;
}

#subscribeForm {
    padding: 5vh 0vw;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    font-family: "Satoshi";
    font-size: 1.1rem;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    border: solid #fff;
    border-radius: 1.5rem;
    height: 4vh;
    width: 22vw;
    background-color: #fff;
    gap: 1vw;
}

.input-group i {
    color: #00000066;
}

#emailInput {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

#emailInput:focus-visible {
    outline: none;
}

#emailInput::placeholder {
    color: #ccc;
}

#envelope-icon {
    font-size: 1.4rem;
}

#subscribeForm button {
    font-family: "Satoshi";
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    height: 6vh;
}

#subscribeForm button:hover {
    background-color: #ccc;
}

footer {
    background-color: #F0F0F0;
    margin-top: -14vh;
    padding: 14vh;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0vh 5.3vw 0vh 7vw;
    gap: 1vw;
}

.shopco {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shopco h2 {
    font-family: "Integral CF";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.7vh;
    margin-bottom: 4vh;
    text-align: left;

}

.shopco p {
    margin: 0;
    font-family: "Satoshi";
    font-size: 0.96rem;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);

}

.socialImages {
    margin: 5vh 0vw;
    display: flex;
    justify-content: flex-start;
    gap: 0.9rem;
}

.company,
.help,
.faq,
.resources {
    flex: 1;
}

.company h4,
.help h4,
.faq h4,
.resources h4 {
    font-family: "Satoshi";
    font-size: 1rem;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.company ul,
.help ul,
.faq ul,
.resources ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.8rem;
    list-style-type: none;
}

.company ul li a,
.help ul li a,
.faq ul li a,
.resources ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    font-family: "Satoshi", Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

}

.copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw 2vh 7vw;
}

.copyRight p {
    flex-basis: 73%;
    /*Box model stuff*/
    margin: 0;
    /*Typography stuff*/
    font-family: "Satoshi";
    font-size: 1.05rem;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.images {
    flex-basis: 28%;
    display: flex;
    justify-content: flex-start;

}

/* Media Queries*/
@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.1vh 1vw 2vh 1vw;
        background-color: #fff;
        color: #000;
        gap: 2.3vw;
    }

    .logo {
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 25.2px;
        line-height: 30.24px;
    }

    #search {
        display: none;
        flex: 1;
        align-items: center;
        padding: 1vh 1vw;
        border-radius: 2.4rem;
        background-color: #f0f0f0;
    }

    #searchMobile, .cart, .account {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    #searchMobile.active {
        flex: 1;
        align-items: center;
        padding: 1vh 1vw;
        border-radius: 2.4rem;
        background-color: #f0f0f0;
    }

    .icon-container.active {
        flex: 1;
    }

    #inputMobile {
        display: none;
    }

    #inputMobile.active {
        display: flex;
        flex: 1;
        border: none;
        border-radius: 2.4rem;
        outline: none;
        font-size: 1rem;
    }

    .search-icon {
        margin-right: 0.8rem;
        color: #000000;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        gap: 5vw;
    }

    .burger-menu {
        display: flex;
    }

    .menu-items {
        display: none;
    }

    .menu-items.active {
        display: block;
        background-color: #F0F0F0;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        padding: 10px;
        font-family: "Satoshi";
    }

    .menu-items.active a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }

    nav {
        display: none;
    }

    .hero {
        padding: 3vw;
        background-image: none
    }

    .hero img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 3vw;
        background-color: #f2f0f1;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero-text {
        width: 80vw;
    }

    .hero h1 {
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 36px;
        line-height: 34px;
    }

    .hero p {
        font-family: "Satoshi";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .cta-btn {
        width: 100%;
        font-family: "Satoshi";
        font-weight: 500;
        font-size: 16px;
        line-height: 21.6px;
    }

    .shop-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 4vh;
        gap: 4vw;
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .category-number {
        font-weight: 700;
        display: inline-block;
        font-family: "Satoshi";
        font-size: 1.3rem;
    }

    .category-name {
        display: inline-block;
        font-family: "Satoshi";
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.6);
    }

    .divider-two {
        display: none;
    }

    .logo-banner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #000;
        gap: 6vw;
        padding: 6vh 3vw;
    }

    .logo-banner a img {
        width: 27vw;
        height: 4vh;
    }




    .section-title {
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        text-align: center;
    }

    .cols-4 {
        display: flex;
        overflow-x: auto;
        gap: 10px;
        padding: 10px;
    }

    .cols-4::-webkit-scrollbar {
        display: none;
    }

    .product {
        flex: 0 0 auto;
        width: 80%;
    }

    .image-container-up {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
        padding-top: 40px;
    }

    .image-container-down {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
        padding-bottom: 27px;
    }

    .dress-style {
        margin: 6.5vh 7vw;
        padding: 1vh 4vw;
        border-radius: 2rem;
        background-color: #f0f0f0;
    }

    .dress-style h2 {
        margin-bottom: 2vh;
        font-family: "Integral CF", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        line-height: 4vh;
    }

    .dress-style-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 1vh;
        row-gap: 3vh;
    }

    .dress-style-item {
        height: 25vh;
        border-radius: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .dress-style-item h4 {
        margin: 3vh 3vw;
        font-family: "Satoshi";
        font-size: 1.2rem;
        font-weight: 700;
        text-align: left;
    }

    .casual {
        flex-basis: auto;
        background-image: url("../assets/image/image-11.png");

    }

    .formal {
        flex-basis: auto;
        background-image: url("../assets/image/image-13.png");
    }

    .party {
        flex-basis: auto;
        background-image: url("../assets/image/image-12.png");
    }

    .gym {
        flex-basis: auto;
        background-image: url("../assets/image/image-14.png");
    }

    .arrows {
        display: flex;
    }

    .feedbacks {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding: 10px;
    }

    .feedback:first-child,
    .feedback:last-child {

        display: none;
    }

    .feedback {
        flex: 0 0 auto;
        width: 100%;
        scroll-snap-align: center;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 0.7vh 4.2vw;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3vh 5.8vw 0vh 7vw;
        position: relative;
        z-index: 10;
    }

    .subscribe h2 {
        font-family: "Integral CF", sans-serif;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 5.7vh;
        /* margin-bottom: 6vh; */
        /* flex-basis: 50%; */
        /* text-align: left; */
    }

    #subscribeForm {
        padding: 2vh 0vw;
        display: flex;
        flex-direction: column;
        /* flex-basis: 21%; */
    }

    .input-group {
        display: flex;
        /* align-items: center; */
        /* font-family: "Satoshi"; */
        /* font-size: 1.3rem; */
        padding: 1vh 2vw;
        margin-bottom: 2vh;
        border: solid #fff;
        border-radius: 1.5rem;
        height: 4vh;
        width: 73vw;
        background-color: #fff;
        gap: 1vw;
    }

    #emailInput {
        background-color: transparent;
        border: none;
        font-size: 0.8rem;
    }

    #subscribeForm button {
        font-family: "Satoshi";
        font-size: 0.8rem;
        font-weight: 700;
        background-color: #fff;
        color: #000;
        border: none;
        /* padding: 9px 17px; */
        border-radius: 1.5rem;
        cursor: pointer;
        height: 7vh;
    }

    .shopco {
        flex: auto;

    }

    .footer-container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .shopco h2 {
        font-size: 1.5rem;

    }

    .shopco p {

        font-size: 0.8rem;

    }

    .socialImages {
        margin: 2vh 0vw;
        gap: 0.4rem;
    }

    .company h4, .help h4, .faq h4, .resources h4 {
        font-size: 0.8rem;
        text-align: left;

    }

    .company ul, .help ul, .faq ul, .resources ul {
        align-items: flex-start;
    }

    .company ul li a, .help ul li a, .faq ul li a, .resources ul li a {
        font-size: 0.8rem;

    }

    .company, .help, .faq, .resources {
        flex-basis: 48%;
    }

    .copyRight {
        flex-wrap: wrap;
        justify-content: center;
        padding: 8vh 5vw;
    }

    .copyRight p {
        font-size: 0.8rem;
    }

    .images {
        align-items: center;
        padding: 4vh 0vw;
    }
}