* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header*/

@font-face {
    font-family: "Integral CF";
    src: url("/assets/fonts/Demo_Fonts/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi_Complete/Satoshi-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.top-nav{
    background-color: black;
    color: aliceblue;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    margin: auto auto 24px auto;
    text-align: center;
    justify-content: center;
    display: flex;
}

.signUp{
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #FFFFFF;
    max-width: 100%;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-inner-content {
    max-width: 100%;
}

.menu-button {
    display: none;
}

.logo {
    font-family: "Integral CF";
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    margin-left: 16px;
}

.search-container{
    display: flex;
    background-color: #F0F0F0;
    border-radius: 62px;
}

.search-container i {
    color: #00000066;
    margin: 0 14px 0 18px
}

.search-container img{
    display: flex;
    margin-left: 8px;
    color:#00000066 ;
    background: #00000066;

}

.search {
    margin-right: 16px;
    width: 577px;
    height: 48px;
    border-radius: 62px;
    padding: 12px 16px;
    gap: 12px;
    border-color: transparent;
    background-color: #F0F0F0;
}


nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
    gap: 24px;
    margin-left: 40px;
}

.nav-icon-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.search-querie{
    display: none;
}

.nav-icon-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 16px;
}

nav ul li {
    margin-right: 16px;
    cursor: pointer;
    font-family: "Satoshi", sans-serif;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.header-inner-content-two {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #F2F0F1;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    margin-bottom: 32px;
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}

.header-bottom-side-left p {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #00000099;
    margin-bottom: 32px;
}

.header-bottom-side-left button {
    width: 210px;
    height: 52px;
    top: 507px;
    left: 100px;
    border-radius: 62px;
    padding: 16px 54px;
    gap: 12px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
}

.header-bottom-side-right img {
    max-width: 100%;
    height: auto;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peoples-desktop {
    display: block;
}

.peoples-mobile {
    display: none;
}

.peoples-mobile{
}

.container-info-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-info {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
}

.statistic-number {
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
}

.item-value {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

.item-description {
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.divider {
    width: 1px;
    height: 80px;
    background-color: #ccc;
}

/* Media Queries*/
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .top-nav{
        background-color: black;
        color: aliceblue;
        height: 40px;
        padding-top: 10px;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 99;
        margin: auto auto 24px auto;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .signUp{
        color: white;
    }

    .search-container i{
        display: none;
    }

    .logo {
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 25.2px;
        line-height: 30.24px;
    }

    .menu-button {
        display: block;
        margin-right: 16px;
        margin-left: 16px;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        width: 100%;
        top: 46px;
        background-color: #000000;
        display: none;
    }

    nav ul {
        flex-direction: column;
        margin-top: 4px;
    }

    nav ul li {
        text-align: center;
        padding: 0.4rem;
        color: #FFFFFF;
    }

    .nav-icon-container img {
        width: 24px;
        height: 24px;
    }

    .search {
        display: none;
    }

    .search-querie {
        display: block;
    }

    .header-bottom-side-left h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 34px;
    }

    .header-bottom-side-left p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .header-bottom-side-left button {
        width: 100%;
        height: 52px;
        top: 325px;
        left: 16px;
        gap: 12px;
        border-radius: 62px;
        padding: 16px 54px;
        margin-bottom: 20px;
    }

    .show-menu nav {
        display: block;
    }

    .container-info {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .statistic-number {
        width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .statistic-number h3 {
        font-family: "Satoshi", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
    }

    .item-value {
        font-size: 24px;
        font-weight: 700;
        font-family: 'Satoshi', sans-serif;
        margin-bottom: 5px;
    }

    .item-description {
        color: black;
        opacity: 60%;
        text-align: center;
    }

    .header-bottom-side-right {
        display: flex;
        width: 100%;
    }

    .peoples-desktop {
        display: none;
    }

    .peoples-mobile {
        display: block;
    }
}

/*header*/

/*Main Content*/

.page-inner-content-desktop {
    background-color: #000000;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.page-inner-content-mobile{
    display: none;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 24px;
}

.product-name {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 16px 0 8px 0;
    text-align: left;
}

.rate-container{
    display: flex;
    align-items: flex-start;
    gap: 13px;
    font-size: 14px ;
}

.rate-container p {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.rate-container span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    color: #777777;
}

.cols-5 {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

.page-inner-content-two{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #0000001A
}

.section-title{
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    margin: 72px 0 55px 0;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.cols>* {
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.product{
    display: flex;
    flex-direction: column;
}

.rate{
    width: 80px;
    height: 18px;
    gap: 5.31px;
}

.product-price-container{
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.product-price{
    text-align: left;
    width: 55px;
    height: 32px;
    gap: 10px;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}
.product-price-old{
    text-align: left;
    width: 55px;
    height: 32px;
    gap: 10px;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    color: #00000066;
    text-decoration: line-through;
}

.product-price-discount{
    color: #FF3333;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 12px;
    line-height: 16.2px;
    width: 58px;
    height: 28px;
    gap: 12px;
    border-radius: 62px;
    background: #FF33331A;
    padding: 6px 14px;
}

.page-inner-content-three{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.view-all {
    width: 218px;
    height: 52px;
    border-radius: 62px;
    padding: 16px 54px;
    border: 1px solid #0000001A;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
    font-family: "Satoshi" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
}

.gray-background{
    width: 100%;
    height: 866px;
    border-radius: 40px;
    background: #F0F0F0;
    display: flex;
    margin: 80px auto 24px auto;
    justify-content: space-between;
}

.page-inner-content-four{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.title-style{
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    margin: 70px 0 64px 0;
}

.container-image{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/*Media Querie*/
@media (max-width: 768px) {
    .page-inner-content-mobile{
        background-color: #000000;
        margin: 0 auto;
        justify-content: space-between;
    }

    .page-inner-content-desktop {
        display: none;
    }
    .section-title{
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        text-align: center;
    }

    .cols-4 {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding: 10px;
    }

    .cols-4::-webkit-scrollbar {
        display: none;
    }

    .product {
        flex: 0 0 auto;
        width: 80%;
        scroll-snap-align: center;
    }

    .image-container-up {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
        padding-top: 40px;
    }

    .image-container-down {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
        padding: 20px 0 40px 0;
    }
}

/*Main Content*/

/*FeedBacks*/
.page-inner-content-feedbacks{
    display: grid;
    padding: 24px;
}

.page-inner-content-feedbacks h5{
    font-family: "Integral CF";
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 40px;
}

.feedbacks{
    display: flex;
    gap: 16px;
}

.feedback{
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 28px 32px;
}

.feedback p {
    margin: 5px 0;
}

.name-user{
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.feedback-message{
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/*Media Querie*/
@media (max-width: 768px) {
    .feedbacks{
        flex-direction: column;
    }

    .feedback{
        margin-bottom: 16px;
    }
}
/*Media Querie*/

/*Footer*/
.gray-background-footer{
    width: 100%;
    background: #F0F0F0;
    display: flex;
    margin: 80px auto 24px auto;
}

.page-inner-content-desktop {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
/*Footer*/
/*FeedBacks*/
